BasedOnStyle: LLVM                               # 基于LLVM风格
Language: Cpp                                    # 指定语言为C++
AccessModifierOffset: -4                         # 类成员访问修饰符(public/private/protected)缩进偏移量
AlignAfterOpenBracket: DontAlign                 # 括号后的内容不对齐
AlignArrayOfStructures: None                     # 结构体数组初始化时不对齐
AlignEscapedNewlinesLeft: true                   # 转义换行符左对齐
AlignOperands: true                              # 算术/逻辑操作符对齐
AlignTrailingComments: true                      # 行尾注释对齐
AllowShortBlocksOnASingleLine: false             # 不允许短代码块写在一行
AllowShortCaseLabelsOnASingleLine: false         # case/default标签不能与语句块写在同一行
AllowShortFunctionsOnASingleLine: None           # 短函数不允许写在一行
AllowShortIfStatementsOnASingleLine: false       # 不允许if语句写在一行
AllowShortLambdasOnASingleLine: false            # 不允许lambda表达式写在一行
AllowShortLoopsOnASingleLine: false              # 不允许循环语句写在一行
AllowAllParametersOfDeclarationOnNextLine: false # 不允许所有参数都放到下一行
BreakBeforeBraces: Allman                        # 大括号风格为Allman(换行风格)
ContinuationIndentWidth: 4                       # 换行续行缩进宽度为4
Cpp11BracedListStyle: false                      # 不使用C++11花括号初始化风格，支持空格
ColumnLimit: 160                                 # 限制行宽160，允许自动换行
UseTab: Never                                    # 始终不使用Tab缩进
IndentWidth: 4                                   # 普通缩进宽度为4
TabWidth: 4                                      # Tab字符宽度为4
Standard: c++17                                  # 采用C++17标准
SortIncludes: false                              # 禁止对头文件排序
PenaltyBreakBeforeFirstCallParameter: 9000       # 调用参数首行换行惩罚值（极大，尽量不换行）
# WrapNamespaceBodyWithEmptyLines: Leave           # 命名空间体包裹空行保持原样
NamespaceIndentation: All                        # 命名空间内的代码整体缩进
DerivePointerAlignment: false                    # 不自动推导指针对齐方式
PointerAlignment: Left                           # 指针符号*靠左（紧贴类型）
MaxEmptyLinesToKeep: 2                           # 最多保留2个连续空行
SpaceBeforeParens: ControlStatements             # 函数名与括号之间不加空格，仅控制语句加空格
SpaceBeforeAssignmentOperators: true             # 赋值操作符前后加空格
SpacesInParentheses: false                       # 括号内不加空格
SpacesInSquareBrackets: false                    # 方括号内不加空格
SpacesInAngles: false                            # 模板参数尖括号内不加空格
SpaceAfterCStyleCast: false                      # C风格强转后不加空格
IndentPPDirectives: None                         # 预处理指令不缩进，始终顶格
EmptyLineBeforeAccessModifier: Always            # 类成员访问修饰符前加空行
SortUsingDeclarations: false                     # 禁止对using排序
